.board {
    background-color: black;
    display: inline-block;
}
.row {
    display: inline-block;
}
.cell {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
}

.in-grid {
    background-color: red;
}